html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// sass-lint:disable no-universal-selectors
*,
*::before,
*::after {
  box-sizing: inherit;
}
// sass-lint:enable no-universal-selectors

body {
  @include font-size($font-base-mobile);
  color: theme-color("charcoal");
  font-family: $brand-font-regular;
  line-height: 1.42857143;
  min-width: 320px;

  @include tablet {
    @include font-size($font-base);
  }
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;

  // sass-lint:disable-block no-vendor-prefixes, no-css-comments, property-sort-order
  box-sizing: content-box;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

address {
  font-style: normal;
}

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0);
  transition: left .3s ease, background .3s ease;
}
