.section {
  @extend .row;
  padding: 0 $section-horizontal-spacing-mobile $section-horizontal-spacing-mobile;
  margin-bottom: $section-margin-bottom;
  margin-left: $row-margin;
  margin-right: $row-margin;

  @include tablet {
    padding: 0 $section-horizontal-spacing-tablet;
  }

  @include desktop {
    padding: 0 $section-horizontal-spacing;
    margin-bottom: $section-margin-bottom;
  }

  &-red,
  &-yellow,
  &-green,
  &-blue,
  &-purple,
  &-pink,
  &-charcoal {
    color: color("white");
    margin-left: --$row-margin;
    margin-right: --$row-margin;
    padding: $section-horizontal-spacing-mobile;

    @include tablet {
      padding: $section-horizontal-spacing-tablet;
    }

    @include desktop {
      padding: $section-horizontal-spacing;
    }
  }

  &-red {
    background: theme-color("red");
  }

  &-yellow {
    background: theme-color("yellow");
    color: theme-color("charcoal");
  }

  &-green {
    background: theme-color("green");
    color: theme-color("charcoal");
  }

  &-blue {
    background: theme-color("blue");
  }

  &-purple {
    background: theme-color("purple");
  }

  &-pink {
    background: theme-color("pink");
    color: theme-color("charcoal");
  }

  &-charcoal {
    background: theme-color("charcoal");
  }

  &-header {
    @extend .col-md-3;
  }

  &-header-header {
    margin-bottom: 24px;

    @include tablet {
      width: 100%;
    }
  }

  &-header-title {
    border-top: 2px solid;
    max-width: 200px;
    margin-top: 0;
    padding-top: 16px;
    @include font-size($font-heading-2-mobile);

    @include tablet {
      @include font-size($font-heading-2);
    }
  }

  &-header-text {
    @include font-size($font-lead);
    max-width: 250px;
  }

  &-body {
    @extend .col-md-6;
  }

  &-body-full-width {
    @extend .col-md-9;
  }
}

.red-theme,
.section.red-theme {
  .section-header-title {
    border-color: theme-color("red");
  }
}

.yellow-theme,
.section.yellow-theme {
  .section-header-title {
    border-color: theme-color("yellow");
  }
}

.green-theme,
.section.green-theme {
  .section-header-title {
    border-color: theme-color("green");
  }
}

.blue-theme,
.section.blue-theme {
  .section-header-title {
    border-color: theme-color("blue");
  }
}

.purple-theme,
.section.purple-theme {
  .section-header-title {
    border-color: theme-color("purple");
  }
}

.pink-theme,
.section.pink-theme {
  .section-header-title {
    border-color: theme-color("pink");
  }
}

.section-green,
.section-pink,
.section-yellow {
  .section-header-title {
    border-color: theme-color("charcoal");
  }
}

.section-red,
.section-blue,
.section-purple,
.section-red,
.section-blue,
.section-purple{
  .section-header-title {
    border-color: color("white");
  }
}

.red-theme,
.blue-theme,
.pink-theme,
.yellow-theme,
.purple-theme,
.green-theme {
  .section-red,
  .section-blue,
  .section-purple,
  .section-red,
  .section-blue,
  .section-purple{
    .section-header-title {
      border-color: color("white");
    }
  }

  .section-green,
  .section-pink,
  .section-yellow {
    .section-header-title {
      border-color: theme-color("charcoal");
    }
  }
}
