// Colors
// Please don't use colours directly in the code

$color-mine-shaft: #323232;
$color-red-orange: #FF323C;
$color-supernova: #FFC800;
$color-dodger-blue: #2897FF;
$color-heliotrope: #A050FF;
$color-lima: #5AC328;
$color-la-palma: #1EA014;
$color-hot-pink: #FF6ECF;
$color-orchid: #E664C5;

$colors: (
  "white": #FFFFFF,
  "grey": #898989
);

// Brand
$theme-colors: (
  "red": $color-red-orange,
  "yellow": $color-supernova,
  "green": $color-lima,
  "blue": $color-dodger-blue,
  "purple": $color-heliotrope,
  "pink": $color-hot-pink,
  "charcoal": $color-mine-shaft,
  "green-accessible": $color-la-palma,
  "pink-accessible": $color-orchid
);

$brand-darken-value: 4;

$link-primary-default-border-color: $color-mine-shaft;
$link-secondary-icon: '\e946';
$link-external-icon: '\e944';

// Breakpoints
$tablet: 960px !default;
$desktop: 1280px !default;
$desktop-wide: 1920px !default;

$ms-only: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)";

$grid-margin: 15px;

// Font
$brand-font-regular: "Brown-Pro-Regular", Helvetica, Arial, sans-serif;
$brand-font-family-bold: "Brown-Pro-Bold", Helvetica, Arial, sans-serif;
$brand-font-family-icons: 'AND-Digital-Icons';

$font-weight-bold: 700;
$font-weight-regular: 400;

// Font sizes (in pixels)
$font-hero: 112;
$font-hero-mobile: 30;
$font-sidekick: 80;
$font-butler: 42;
$font-cascade-step: 105;
$font-testimonial-quote: 20;
$font-search-input: 42;
$font-search-icon: 42;

$font-heading-1: 42;
$font-heading-2: 22;
$font-heading-3: 18;
$font-base: 16;
$font-lead: 20;
$font-small: 14;

$font-heading-1-mobile: 32;
$font-heading-2-mobile: 20;
$font-heading-3-mobile: 18;

$font-base-mobile: 14;
$font-lead-mobile: 16;
$font-small-mobile: 12;

$font-search-input-mobile: 32;
$font-search-icon-mobile: 24;
$font-superhero-mobile: 40;
$external-link-icon-small: .75em;
$font-feature-list-link-mobile: 20;
$font-feature-list-link: 28;
$footer-heading-font-size: 14;
$footer-social-icon: 28;
$footer-social-icon-mobile: 24;

$icon-xl: 32;
$icon-lrg: 28;
$icon-med: 24;

$row-margin: -15px;
$section-horizontal-spacing: 48px;
$section-horizontal-spacing-tablet: 48px;
$section-horizontal-spacing-mobile: 32px;
$section-margin-bottom: $section-horizontal-spacing;

// Lists
$list-padding: 24px;
$list-line-height: 1.4;
$list-inline-spacing: 12px;

// Links
$link-primary-padding: 12px;
$link-primary-padding-mobile: 8px;
$link-primary-margin: 16px 0;
$link-primary-color-width: 1px;
$link-primary-border: $link-primary-color-width solid $link-primary-default-border-color;
$link-primary-border-bottom-hover: 3px;
$button-vertical-padding: 8px;
$submit-button-margin-bottom: 15px;

$paragraph-margin: 12px;

$form-padding-bottom: 12px;
