.module {
  padding: $module-horizontal-spacing-mobile;
  margin-bottom: 0;

  @include tablet {
    padding: 0 $module-horizontal-spacing-tablet;
  }

  @include desktop {
    padding: 0 $module-horizontal-spacing;
    margin-bottom: $module-margin-bottom;
  }

  &-red,
  &-yellow,
  &-green,
  &-blue,
  &-purple,
  &-pink,
  &-charcoal {
    padding: $module-horizontal-spacing-mobile;
    margin-bottom: $module-margin-bottom;
    color: $color-white;

    @include tablet {
      padding: $module-horizontal-spacing-tablet;
    }

    @include desktop {
      padding: $module-horizontal-spacing;
    }
  }

  &-red {
    background: $color-brand-red;
  }

  &-yellow {
    background: $color-brand-yellow;
    color: $color-brand-charcoal;
  }

  &-green {
    background: $color-brand-green;
  }

  &-blue {
    background: $color-brand-blue;
  }

  &-purple {
    background: $color-brand-purple;
  }

  &-pink {
    background: $color-brand-pink;
    color: $color-brand-charcoal;
  }

  &-charcoal {
    background: $color-brand-charcoal;
  }
}
