.wysiwyg {

}

h1, .h1,
h2, .h2,
h3, .h3,
h3, .h4 ,
h3, .h5 {
  color: $color-mine-shaft;
  font-family: $font-family-bold;
  font-weight: 700;
  margin: $heading-margin;
}

h1, .h1 {
  font-size: $heading-1-font-size;
}

h2, .h2 {
  font-size: $heading-2-font-size;
}

h3, .h3 {
  font-size: $heading-3-font-size;
}

h4, .h4 {
  font-size: $heading-4-font-size;
}

h5, .h5 {
  font-size: $heading-5-font-size;
}

.theme-red {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    color: $color-brand-red;
  }
}

.theme-yellow {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    color: $color-brand-yellow;
  }
}

.theme-blue {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    color: $color-brand-blue;
  }
}

.theme-pink {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    color: $color-brand-pink;
  }
}

.theme-purple {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    color: $color-brand-purple;
  }
}

.theme-green {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    color: $color-brand-green;
  }
}