@font-face {
  font-family: 'icomoon';
  src:    url('icomoon.eot?in8t73');
  src:    url('icomoon.eot?in8t73#iefix') format('embedded-opentype'),
  url('icomoon.ttf?in8t73') format('truetype'),
  url('icomoon.woff?in8t73') format('woff'),
  url('icomoon.svg?in8t73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-presso:before {
  content: "\e90f";
}
.icon-doc:before {
  content: "\e90b";
}
.icon-coathanger:before {
  content: "\e90c";
}
.icon-palmtree:before {
  content: "\e90d";
}
.icon-plane:before {
  content: "\e90e";
}
.icon-ANDchat:before {
  content: "\e904";
}
.icon-build:before {
  content: "\e905";
}
.icon-delight:before {
  content: "\e906";
}
.icon-lightbulb:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e908";
}
.icon-team:before {
  content: "\e909";
}
.icon-wonder:before {
  content: "\e90a";
}
.icon-agile:before {
  content: "\e900";
}
.icon-device:before {
  content: "\e901";
}
.icon-html:before {
  content: "\e902";
}
.icon-suitcase:before {
  content: "\e903";
}