a {
  color: $color-brand-charcoal;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $color-brand-red;
    text-decoration: none;
  }
}

.link {
  &-primary {
    padding: $link-primary-padding-mobile;
    margin: 12px 0;
    display: inline-block;
    border: $link-primary-border;
    text-align: center;
    text-decoration: none;
    color: $color-mine-shaft;
    border-color: $color-mine-shaft;

    &:hover,
    &:focus {
      padding-bottom: $link-primary-padding-mobile - ($link-primary-border-bottom-hover - $link-primary-color-width);
      border-bottom: solid $link-primary-border-bottom-hover;
      text-decoration: none;
      color: inherit;
    }

    @include tablet {
      padding: $link-primary-padding;
      margin: 16px 0;

      &:hover {
        padding-bottom: $link-primary-padding - ($link-primary-border-bottom-hover - $link-primary-color-width);
      }
    }
  }

  &-secondary {
    @include font-size($font-small-mobile);
    color: $color-mine-shaft;
    text-decoration: none;
    position: relative;

    &:after {
      font-family: 'AND-Digital-Icons';
      display: inline-block;
      content: "\e946";
      position: absolute;
      right: -2em;
      bottom: 0;
    }

    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
      border-bottom: solid 1px;
    }

    @include tablet {
      @include font-size($font-small);
    }
  }

  &-external {
    &:after {
      content: "\e944";
      display: inline-block;
      font-family: 'AND-Digital-Icons';
      margin-left: 4px;
    }
  }
}

.module-red,
.module-yellow,
.module-green,
.module-blue,
.module-purple,
.module-pink,
.module-charcoal {
  a,
  a:active,
  a:visited {
    color: $color-white;
    border-color: $color-white;
  }

  .link-primary {
    color: $color-white;
    border-color: $color-white;
  }
}

.module-blue {
  .link-primary {
    color: $color-brand-blue;
    border-color: $color-brand-blue;
  }
}

.module-yellow,
.module-pink {
  a,
  a:active,
  a:visited {
    color: $color-brand-charcoal;
    border-color: $color-brand-charcoal;
  }

  .link-primary {
    color: $color-brand-charcoal;
    border-color: $color-brand-charcoal;
  }
}

.module-green {
  .link-primary {
    color: $color-brand-charcoal;
    border-color: $color-brand-charcoal;
  }
}

.red-theme {
  a,
  a:active,
  a:visited {
    color: $color-brand-red;
  }

  .link-primary {
    border-color: $color-brand-red;
    color: $color-brand-red;
  }
}

.green-theme {
  a,
  a:active,
  a:visited {
    color: $color-brand-green;
  }

  .link-primary {
    border-color: $color-brand-green;
    color: $color-brand-green;
  }
}

.blue-theme {
  a,
  a:active,
  a:visited {
    color: $color-brand-blue;
  }

  .link-primary {
    border-color: $color-brand-blue;
    color: $color-brand-blue;
  }
}

.purple-theme {
  a,
  a:active,
  a:visited {
    color: $color-brand-purple;
  }

  .link-primary {
    border-color: $color-brand-purple;
    color: $color-brand-purple;
  }
}

.pink-theme {
  a,
  a:active,
  a:visited {
    color: $color-brand-pink;
  }

  .link-primary {
    border-color: $color-brand-pink;
    color: $color-brand-pink;
  }
}

.yellow-theme {
  a,
  a:active,
  a:visited {
    color: $color-brand-yellow;
  }

  .link-primary {
    color: $color-brand-yellow;
    border-color: $color-brand-yellow;
  }
}

.module-red,
.module-blue,
.module-purple {
  .link-primary {
    color: $color-white;
    border-color: $color-white;
    background: transparent;
  }
}

.module-yellow,
.module-green,
.module-pink {
  .link-primary {
    color: $color-brand-charcoal;
    border-color: $color-brand-charcoal;
    background: transparent;
  }
}

