.button {
  background-color: theme-color("charcoal");
  color: color("white");
  border: none;
  border-bottom: solid 4px theme-color("charcoal");
  padding: $button-vertical-padding 12px;
  margin: 12px 0;
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 0;

  &:hover,
  &:focus {
    padding-bottom: 8 - ($link-primary-border-bottom-hover - $link-primary-border);
    background-color: theme-color("red");
    color: color("white");
    cursor: pointer;
    outline: 0;
  }

  @include tablet {
    &:hover,
    &:focus {
      padding-bottom: 10 - ($link-primary-border-bottom-hover - $link-primary-border);
    }
  }

  &[type="submit"] {
    margin-bottom: 0;

    @include tablet {
      margin-bottom: $submit-button-margin-bottom;
    }
  }
}

.blue-theme,
.purple-theme,
.red-theme,
.green-theme,
.yellow-theme,
.pink-theme {
  .button {
    color: theme-color("charcoal");

    &:hover, &:focus {
      background-color: theme-color("charcoal");
      color: color("white");
    }
  }
}

.red-theme {
  .button {
    background-color: theme-color("red");
    color: color("white");
  }
}

.yellow-theme {
  .button {
    background-color: theme-color("yellow");
  }
}

.green-theme {
  .button {
    background-color: theme-color("green");
  }
}

.blue-theme {
  .button {
    background-color: theme-color("blue");
    color: color("white")
  }
}

.purple-theme {
  .button {
    background-color: theme-color("purple");
    color: color("white");
  }
}

.pink-theme {
  .button {
    background-color: theme-color("pink");
  }
}
