.icons {
  &--medium {
    @include font-size($icon-med);
  }

  &--large {
    @include font-size($icon-lrg);
  }

  &-xlarge {
    @include font-size($icon-xl);
  }

  &--circle {
    width: 70px;
    height: 70px;
    font-size: 4rem;
    color: color("white");
    display: table;
    background: theme-color("red");
    text-align: center;
    border-radius: 50%;
    margin: 0 5px 20px 5px;

    i {
      vertical-align: middle;
    }
  }
}
