.hero {
  //height: 200px;
  text-align: center;
  display: table;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: $section-horizontal-spacing;
  background-size: cover;
  background-position: center;

  &-logo {
    height: 52px;
    width: auto;

    @include tablet {
      //max-width: 225px;
      height: 85px;
      //width: 100%;
    }

    @include desktop {
      height: 132px;
      //max-width: auto;
    }
  }

  &-text {
    color: $color-white;
    margin: 0;
    @include font-size($font-superhero-mobile);

    @include tablet {
      @include font-size($font-hero);
    }
  }

  &-content {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;

    @include tablet {
      padding: 80px 0;
    }
  }
}

.sidekick {
  text-align: left;
  height: 300px;
  padding-left: 27.5px;

  .hero-text {
    @include font-size($font-sidekick);
  }
}
