.section-image {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  &__text,
  &__image {
    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__text {
    padding: $section-horizontal-spacing-mobile;

    @include tablet {
      padding: $section-horizontal-spacing;
    }
  }

  &__image {
    display: none;
    padding: 0;
    background-size: cover;
    background-position: center;

    @include tablet {
      display: block;
    }
  }
}
