.testimonial {
  &-profile {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &-image {
    max-width: 170px;
    margin: 10px;
  }

  &-quote {
    @include font-size($font-lead-mobile);

    @include tablet {
      @include font-size($font-lead);
      padding-right: 25%;
    }
  }
}
